.wrapper {

  height: 80vh;
  /* background-color: red; */
  text-align: center;
}
.logo {
  position: relative;
}
.logo img {
  display: none;
  /* position: absolute; */

  /* width: 100vw; */
  /* height: 300px; */
  /* background-color: blue; */
}