.card {
  border-radius: 4px;
  /* background-color: red; */
}
.icon {
  font-size: 14px;
  padding: 0 5px 0 2px;
}

/* content */
.content {
  position: relative;
  cursor: pointer;
}
.hovering {
  opacity: 0;
  transition: 0.25s;
}
.hovering:hover {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.25s;
}
.mask {
  position: absolute;
  background-color: black;
  opacity: 0.35;
  width: inherit;
  height: 100%;
  width: 100%;
}
.youtubeIconWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.youtubeIcon {
  margin: 0 auto;
  position: relative;
  font-size: 500%;
  color: whitesmoke;
}
.thumbnail {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 4px;
}
.durationWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.duration {
  color: white;
  background-color: #161919b6;
  font-size: 12px;
  padding: 0 5px;
  margin: 5px;
}

/* title */
.title {
  color: rgba(0,0,0,.85);
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 46px;
  max-height: 50px;
  line-height: 22px;
  
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-right: 15px;
  padding-left: 2px;

  word-wrap: break-word;
  max-width: 543px;
}
.title:hover {
  color: #00a1d6;
}

/* bottom */
.bottom {
  height: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
}
.viewWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  cursor: default;
  margin-right: 12px;
}
.view {
  font-size: 14px;
}
.dateWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  cursor: default;
}
.date {
  font-size: 14px;
}