.wrapper {
  padding: 10px 1%;

  display: flex;
  justify-content: center;
  background-color: thistle;
}
.tags {
  max-width: 1000px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tag {
  cursor: pointer;
  margin-top: 1px;
  margin-bottom: 1px;
}
