.drawer {
  top: 64px;
  height: calc(100vh - 64px);
}
.menuWrapper {
  z-index: 100;
  height: calc(100vh - 64px);
}
.item {
  width: 100%;
  /* background-color: purple; */
}
.subMenu {
  width: 100%;
}
.text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 58px;
}
.text:hover {
  color: white;
}
.item:hover {
  width: 100%;
  z-index: 2;
  color: white;
  text-shadow: 0 0 10px #69e0ff,0 0 10px #69e0ff,0 0 20px #69e0ff;
}