.drawer {
  top: 64px;
  height: calc(100vh - 64px);
}
.menuWrapper {
  z-index: 100;
  height: calc(100vh - 64px);
}
.item {
  width: 100%;
  /* background-color: purple; */
}
.subMenu {
  width: 100%;
}
.text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 58px;
  font-size: 15px;
}
.text:hover {
  color: white;
}
.item:hover {
  width: 100%;
  z-index: 2;
  color: white;
  text-shadow: 0 0 10px #ffffff,0 0 10px #ffffff,0 0 20px #ffffff;
}

.photo {
  position: absolute;
  left: 0;
  width: 100px;
  padding-left: 24px;
}
.photoImg {
  object-fit: cover;
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50px;
}
.item:hover .photoImg {
  width: 39px;
  height: 39px;
  transition: 0.17s;
  box-shadow: 0 0 5px #ffffff,0 0 5px #ffffff,0 0 5px #ffffff;
}
.item:hover .photo {
  padding-left: 22px;
  transition: 0.17s;
}
.subMenu .text {
  padding-left: 78px;
  font-size: 14px;
}