.wrapper {
  padding: 0px 1%;
  padding-top: 36px;
  padding-bottom: 10px;
  position: relative;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.talentBox {
  cursor: pointer;
  width: 75px;
  height: 100px;
  margin: 8px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.hoverBox:hover {
  transform: scale(1.3);
}